services:
  db:
    image: postgres:16
    environment:
     POSTGRES_DB: empdb
     POSTGRES_USER: empuser
     POSTGRES_PASSWORD: emppass
    volumes:
      - ./backend/models.sql:/app/models.sql
  backend:
    image: ${BACKEND_IMAGE}
    ports:
      - "5001:5000"
    depends_on:
      - db  

  frontend:
    image: ${FRONTEND_IMAGE}
    ports:
      - "8081:80"
    depends_on:
      - backend
