services:
  backend:
    image: ${BACKEND_IMAGE}
    build: ./backend
    ports:
      - "5000:5000"

  frontend:
    image: ${FRONTEND_IMAGE}
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
